# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment directories
venv/
env/
*.env
.venv/

# Distribution/Packaging
*.egg
*.egg-info
dist/
build/

# Testing
*.tox
*.nox
*.coverage
*.hypothesis
.pytest_cache/

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# Log files
*.log

# Sensitive data
*.env
